.option_container {
    position: relative;
    margin: 20px;
    border-radius: 40px;
    border: 6px solid black;
    padding: 20px;
    box-shadow: 3px 3px 10px #222;
}
.option_container:hover {
    transform: translate(1px, 1px);
}
.option_container img {
    transition: opacity 0.5s linear;
}
.option_container img.colour {
    position: absolute;
    left: 20px;
    width: calc(100% - 40px);
    opacity: 0;
}
.option_container:hover img.colour {
    opacity: 1;
}

/* Create form styling */
.create_form_container {
    width: 50%;
    margin-left: 25%;
    padding: 30px;
    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
}
.create_form_container input {
    height: 2em;
    width: 100%;

    margin: 2px;

    padding: 3px;

    border-width: 1px;
    border-style: solid;
    border-radius: 5px;

    text-indent: 5px;

    outline: none;
}
.create_form_container input[type="submit"] {
    width: 50%;
}
.create_form_container input[type="submit"]:hover {
    transform: translate(0.5px, 0.5px);
}
.create_form_container div.checkbox, .create_form_container div[class*="_radio"] {
    position: absolute;
    left: 0;

    height: calc(2em - 4px);
    width: calc(2em - 4px);

    margin: 2px;
    padding: 3px;

    border-style: solid;
    border-width: 1px;
    border-radius: 5px;

    background: #b7c199;
}
.inputs_container {
    position: relative;
}
.labels_container {
    width: fit-content;
    float: left;
}
.labels_container label {
    display: block;
    height: 2em;
    line-height: 2em;
}

.create_form_dropdown {
    width: 100%;
    height: auto;
    max-height: calc(2em - 4px);
    position: absolute;

    margin: 2px;

    border-radius: 5px;
    border-width: 1px;
    border-style: solid;

    transition: max-height 1s ease-out;
    overflow: hidden;
}
.create_form_dropdown label {
    height: 2em;
    line-height: 2em;
    margin: 2px;
    padding: 3px;
}
.create_form_dropdown div.checkbox, .create_form_dropdown div[class*="_radio"] {
    right: 0;
    left: unset;
    transform: translateY(-2em);
}
.create_form_dropdown input {
    width: 20%;
    margin-right: 5px;
    float: right;
    text-indent: 2px;
}
div.checkbox.active, div[class*="_radio"].active {
    background: #343c24;
}
.create_form_placeholder {
    height: 2em;
}