/* General Styling */
* {
    font-family: 'Raleway';
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p {
    cursor: default;
}
html, body {
    margin: 0;
    position: relative;
}
html {
    min-height: 100%;
    display: flex;
}
body {
    width: 100%;
}
::-webkit-scrollbar {
    display: none;
}

/* Colour scheme */
.black_background {
    background-color: black;
}
.grey_background {
    background-color: grey;
}
.white_background {
    background-color: white;
}
.light_background {
    background-color: #d7dee0;
}

.black_text {
    color: black;
}
.grey_text {
    color: grey;
}
.highlight_text {
    color: #4682bf;
}
.white_text {
    color: white;
}


.grey_border {
    border-color: grey;
}

/* NavBar Styling */
.navbar_container {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;

    box-shadow: 0 2px 4px black;

    z-index: 50;
}
.navbar_container div.logout_button {
    right: 30px;
    left: unset;
}
.navbar_container div.logout_button i {
    font-size: 40px;
}
.navbar_container [class$="_button"] {
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}
.navbar_container [class$="_button"] i {
    width: 30px;
    height: 30px;
    font-size: 35px;
    cursor: pointer;
}
.navbar_container h3 {
    margin: 0;
    margin-left: 80px;
    font-size: 36px;
    height: 80px;
    line-height: 80px;
}
#navbar_dropdown {
    position: fixed;
    top: 80px;

    height: auto;
    width: 100%;

    box-shadow: 0 2px 4px black;
    z-index: 51;

    overflow: hidden;
    transition: max-height 0.5s;
}
#navbar_dropdown p {
    margin: 0;
    text-align: center;
}
#navbar_dropdown a {
    margin: 0;
    height: 30px;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    text-decoration: none;
}
#navbar_dropdown a:hover {
    cursor: pointer;
    color: #4682bf;
}

/* Footer Styling */
.footer {
    position: fixed;
    bottom: 0;
    z-index: 50;

    height: 20px;
    width: 100%;
}
p.attributions {
    height: 20px;
    line-height: 20px;
    margin: 0;
    margin-right: 5px;
    float: right;
    font-size: 10px;
}
.attributions a {
    text-decoration: none;
}
.attributions a:hover {
    text-decoration: underline;
}

/* Component Styling */
.main_content_container {
    position: relative;
    margin-top: 80px;
    width: 100%;
    padding: 30px;
}

/* Functionality Styling */
[class^='col-'] {
    min-height: 1px;
    float: left;
}
.col-1 {
    width: 8.3%;
}
.col-2 {
    width: 16.6%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.3%
}
.col-5 {
    width: 41.6%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.3%;
}
.col-8 {
    width: 66.6%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.3%;
}
.col-11 {
    width: 91.6%;
}
.col-12 {
    width: 100%;
}